.Logo {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  img {
    display: block;
    width: 40px;
    height: 40px;
  }

  .whiteLogo {
    font-weight: 700;
    color: #fff;
  }

  .redLogo {
    font-weight: 700;
    color: #ff385c;
  }
}
