* {
  box-sizing: border-box;
  outline: 0;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
i,
ol,
ul,
li,
form,
label,
legend,
table,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

article,
footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

input{
  border: 0;
}