.sliderImg {
  height: 200px;
  border: 1px solid #c3c3c3;
}

.detailImg {
  height: 182px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}
.slick-dots li button:before {
  top: -30px;
  color: white;
}

.slick-list {
  border-radius: 10px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
  margin: 0;
  padding: 0;
}

.slick-next {
  right: 12px;
}

.slick-prev {
  left: 12px;
}

.slick-prev,
.slick-next {
  z-index: 1;
  transition: all 200ms;
  transform: scale(1.3);
}
