.CheckInOutDate {
  .DateRangePicker {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;

    .DateRangePickerInput {
      border: none;
      background-color: transparent;
      z-index: 100;

      .DateInput {
        width: 80px;
        opacity: 0;

        .DateInput_fang {
          display: none;
        }

        .DateInput_input {
          font-size: 13px;
        }

        .DateInput_input__focused {
          border: none;
        }
      }

      .DateRangePickerInput_arrow_svg {
        display: none;
      }
    }

    .DateRangePicker_picker {
      border-radius: 32px !important;
      top: 50px;
      position: relative;
      z-index: 50;
      background-color: transparent;
    }

    .DayPicker__withBorder {
      border-radius: 32px;
      top: -50px;
      border: none;

      .DayPicker_transitionContainer__horizontal {
        border-radius: 32px;
      }

      .DayPickerNavigation_button__default {
        border: none;
      }
    }

    .DayPicker_transitionContainer {
      .CalendarDay {
        font-size: 12px;
      }

      .CalendarDay__default {
        border: none;
        border-radius: 50%;
      }

      .CalendarDay__selected,
      .CalendarDay__selected:active,
      .CalendarDay__selected:hover {
        background-color: #222222;
        border-radius: 50%;
      }

      .CalendarDay__selected_span,
      .CalendarDay__hovered_span {
        background: none;
        color: #222222;
      }
    }

    .DayPickerKeyboardShortcuts_show__bottomRight {
      display: none;
    }
  }
}
