.NavContainer {
  display: flex;

  .Nav {
    width: 100%;
    height: 80px;
    padding: 0 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navList {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .SearchBar.scrolled {
        width: 300px;
        height: 48px;
        font-size: 14px;
        font-weight: 700;

        &:hover {
          cursor: pointer;
        }

        .searchItem {
          right: -35px;
        }
      }
    }

    .navList.hide {
      display: none;
    }
  }

  .Nav.scrolled {
    background-color: #fff;
  }

  .Nav.fixed {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  }

  .searchContainer {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .searchContainer.show {
    top: 107px;
  }

  .searchContainer.hide {
    display: none;
  }
}

.modalsWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
